<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conception - emerging artists</title>
  <link rel="stylesheet" href="/themify-icons.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/vendor/slick-carousel/slick/slick.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/app.css" />
  <script src="/vendor/modernizr/modernizr.js"></script>
</head>

<body id="event">
<div class="top-header-bar">
    <div class="row">
      <a href="/" class="large-7 columns logo">conception events</a>
     <a href="/login" class="large-1 columns login">Login</a>
      <div class="large-4 columns">
        <a href="/register">
            <button class="small-12"><span class="ti-plus"></span>
          <span class="text">Submit Your Work</span>
        </button>
        </a>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="large-12 columns clearfix">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <!-- <h1><a href="#">My Site</a></h1> -->
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
<!--             <li class="events"><a href="/events">events</a></li> -->
            <li class="about_us"><a href="/about">about us</a></li>
            <li class="press"><a href="/press">press</a></li>
            <li class="gallery"><a href="/gallery">gallery</a></li>
            <li class="campus"><a href="/campus">campus</a></li>
            <li class="whats_new"><a href="/what-new">what's new</a></li>
          </ul>
					
					<form action="/artist_search" method="post" class="search_artist_form">
						<div id="prefetch"><input name="query" class="text typeahead" placeholder="Search for artist..."/></div>
						<button type="submit" class="search icon-search"></button>
					</form>
        </section>
      </nav>
    </div>
  </div>

<div class="event-bg">
  <img src="/images/new_york_big.png" alt="" class="event-img">

  <div class="row event-header">
    <div class="large-12 columns">
        <div class="inner-details">
        <span class="event-tag">conception <i>emerging artists</i></span>
        <h1 class="event-title">{{liveEvent.title}}</h1>
        <div class="row">
            <div class="large-3 columns month-day">
                <span>
                <i class="month">{{month}}</i>
                <i class="day">{{day}}</i>
                </span>

            </div>
            <div class="large-5 columns left when-where"><span>{{liveEvent.venue.address}} // {{start_time}} - {{end_time}}</span>
							<span class="event-location">{{liveEvent.venue.name}}</span>
					</div>
        </div>

        <div class="row">
            <div class="large-12 event-blurb">
                <p>{{{liveEvent.description}}}</p>
							<!--a href="http://www.eventbrite.com/e/conception-new-york-city-tickets-16188098037?aff=public" class="button alert  general" data-reveal-id="generalTicketModal">Buy Tickets</a-->
            <a href="#" class="button alert general" data-reveal-id="generalTicketModal">Buy Tickets</a>
					</div>
        </div>
    </div>
    </div>
</div>
</div>
	

	<!--div class="row body-content">
    <div class="large-12 columns organizer-row">
    <h3>featured hosts</h3>
    <div class="row">
        <div class="large-4 columns">
					<a href="#" data-reveal-id="beso_modal"><img src="/images/hosts/4.jpg?dim=258x196" alt="" /></a>
            <span class="name"><a href="#" data-reveal-id="beso_modal">DJ Beso<i class="icon-angle-double-right"></i></a></span>
            <span class="title">dj</span>
        </div>
			  <div class="large-4 columns left">
					<a href="#" data-reveal-id="david_modal"><img src="/images/hosts/event-host.jpg" alt="" /></a>
            <span class="name"><a href="#" data-reveal-id="david_modal">David Powell<i class="icon-angle-double-right"></i></a></span>
            <span class="title">Conception Host</span>
        </div>
    </div>
    </div>
  </div-->
	

  <!-- featured artist section -->
    <div class="row body-content">
    <div class="large-12 columns organizer-row">
		{{#if artists}}
    <h3>featured artists</h3>
		{{/if}}
    <div class="row artists-holder">
        {{#each artists}}
        <div class="large-3 columns featured_artists">
					<a class="featured_artists_img" href="/artist/{{user_token}}">
					{{#if photo}}
					<img src="http://www.conceptionevents.com/artists_images/{{photo}}?dim=196x136" alt="{{full_name}}" />
					{{else}}
				  <img src="http://www.conceptionevents.com/images/no-image.jpg?dim=196x136" alt="{{full_name}}" />
					{{/if}}
					</a>
					<span class = "name"><a href = "/artist/{{user_token}}">{{full_name}}
							<i class = "icon-angle-double-right"></i></a></span>
					<span class="title">{{genre}}</span >
       </div>
       {{/each}}
    </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <span class="scrollup"><i class="icon-angle-double-up"></i>Scroll up</span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 colums">
      <ul class="inline-list footer-social">
        <li>
          <a href="https://www.facebook.com/ConceptionEvents" class="icon-facebook-circled"></a>
        </li>
        <li>
          <a href="https://twitter.com/ConceptionNYC" class="icon-twitter-circled"></a>
        </li>
				 <li><a href="mailto:info@conceptionevents.com" class="icon-mail"></a></li>
        <!--               <li><a href="#" class="icon-social-pinterest"></a></li>
              <li><a href="#" class="icon-gplus-circled"></a></li> -->
      </ul>
    </div>
  </div>

  <div class="row">
		
    <div class="large-12 columns copyright">
      <p class="text-center">Copyright &copy; 2015 Conception</p>
    </div>
  </div>
	
		<div id="generalTicketModal" class="reveal-modal" data-reveal>
		  <div class="row">
				<h2 class="event-title"></h2>
				<label for="">Pick the artist you are supporting!</label>
				<select name="ticket_type" class="ticket_type">
					<option value="general">General Admission</option>
					{{#each sortedArtists}}
					<option value="{{../buyUrl}}?aff={{user_token}}">{{full_name}}</option>
					{{/each}}
				</select>
				
				<a href="#" class="button secondary right next_step">Next Step</a>
				<a class="close-reveal-modal">&#215;</a>
			</div>
		</div>
	
	<div id="beso_modal" class="reveal-modal" data-reveal>
		<div class="row">
			<div class="large-2 columns">
				<ul class="clearing-thumbs" data-clearing>
					<li><a href="/images/hosts/1.jpg"><img src="/images/hosts/1.jpg"></a></li>
					<li><a href="/images/hosts/2.jpg"><img src="/images/hosts/2.jpg"></a></li>
					<li><a href="/images/hosts/3.jpg"><img src="/images/hosts/3.jpg"></a></li>
				</ul>
			</div>
			<div class="large-10 colums">
					<h4>DJ Beso - Long Island, NY</h4>

					<p>Few DJ’s can flip a set like Long Islands DJ Beso (pronounced 'bee-so') from the Vibe Hop music collective. 
					From nostalgic Old School Hip Hop to floor shaking Moombahton dance mixes, 
					the 27 year old groove master has a set just for YOU.</p> 
					
				<p>Using his immense catalog of music and skill, 
					you never really know what to expect from this up and coming artist 
					who rocks heavy mash ups incorporating jams from Ludacris to Bassnectar 
					to Atmosphere to Stray From The Path.
				  Also, don’t be surprised if you witness an all vinyl set showcasing beat 
					juggling and scratch techniques which take his performances to the next level.</p> 
				
					<p>Beso has dropped the beat for crowds at countless LI/NYC bars and night clubs as 
					well as larger venues such as Radio City Music Hall and has spun instrumentals for 
				some of Long Islands Hip Hop legends, including R.A.
				  The Rugged Man and elusive Queens rapper and fellow Vibe Hope artist Spektor. 
					Catch DJ Beso bringing more of the ultimate GOOD VIBES this summer and on to the new year!</p>
				<p><a href="https://soundcloud.com/DJBeso">www.soundcloud.com/DJBeso</a></p>
			</div>
		</div>
<a class="close-reveal-modal">&#215;</a>
	</div>
	
		<div id="david_modal" class="reveal-modal" data-reveal>
		<div class="row">
			<div class="large-2 columns">
				<ul class="clearing-thumbs" data-clearing>
					<li><a href="/images/hosts/David_1.jpg"><img src="/images/hosts/David_1.jpg"></a></li>
					<li><a href="/images/hosts/David_2.jpg"><img src="/images/hosts/David_2.jpg"></a></li>
				</ul>
			</div>
			<div class="large-10 colums">
					<h4>David Powell</h4>

					<p>An artist in his own way, David has always sought to bring people together: artists, 
						entrepreneurs, whichever community he finds himself in.  
						David hosted past Conception events along with others 
						including Christie’s Underground Concert series and the Gowanus Salons I-V.</p> 
				<p><a href="https://www.facebook.com/GowanusSalon">www.facebook.com/GowanusSalon</a></p>
			</div>
		</div>
<a class="close-reveal-modal">&#215;</a>
	</div>


  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/foundation/js/foundation.min.js"></script>
  <script src="/vendor/slick-carousel/slick/slick.js"></script>
   <script src="/js/jquery.validate.js"></script>
	 <script src="/js/typeahead.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
		<script src="/js/jquery.cookie.js"></script>
  <script src="/js/main.js"></script>

  <script>
    var fullEvent = {{{data}}};
	var conception_event = {{event_id}};
	$.cookie('conception_event', conception_event, {path: '/'});
	
  </script>
</body>

</html>
