<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conception Events</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/preloader.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="js/lte-ie7.js"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
	<script src="/js/new/js/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
<!-- 	<script>
		$(function(){

    var m = new Masonry($('.grid').get()[0], {
        itemSelector: ".thumbnail"
    });

});
	</script> -->

	<style>
		.fa{
			color: white;
		}

		.thumbnail img{
    width: 100%;
}
	</style>

  <!-- Start of conceptionevents Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","conceptionevents.zendesk.com");
/*]]>*/</script>
<!-- End of conceptionevents Zendesk Widget script -->

</head>

<body>
    <header>
        <div class="container logo-bar" id="Home">
            <a class="navbar-brand" href="/"><img src="/images/logo2.png" alt=""></a>
            <nav class="navbar navi">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login" class="log">LOGIN</a></li>
                    <li><a href="/login" class="btn-primary">Submit your work</a></li>
                </ul>
            </nav>
        </div>
        <div class="section_overlay">
            <nav class="">
                <div class="container non-border">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="">MAIN MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about">about us</a></li>
                            <li><a href="/press">press</a></li>
<!--                             <li><a href="/campus">campus</a></li> -->
                            <li><a href="/what-new">what's new</a></li>
                            <li><a href="/community">community</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
																										<li><a href="https://www.pinterest.com/conceptionarts"><i class="fa fa-pinterest"></i></a></li>
												  <li><a href="https://www.instagram.com/conceptionnyc"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/ConceptionEvents"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitt">
                                <a href="https://twitter.com/ConceptionNYC"><i class="fa fa-twitter"></i></a>
                            </li>
											</ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </div>
    </header>

    <section class="">
        <div class="container text">


					<div class="row">
                <div class="col-md-3 col-sm-3">

                    <div class="user-wrapper">
                        <img src="https://artistworks.s3-us-west-2.amazonaws.com/artists_images/{{data.photo}}" class="img-responsive">
                    <div class="description">
                       <h4> {{data.full_name}}</h4>
                        <h5 style="text-transform: uppercase;"> <strong> {{data.genre}} </strong></h5>
						                <div class="bottom">
									{{#if data.twitter_url}}
                    <a class="btn btn-card btn-info btn-twitter btn-sm" href="{{data.twitter_url}}">
                        <i class="fa fa-twitter"></i>
                    </a>
									{{/if}}
									{{#if data.facebook_url}}
                    <a class="btn btn-card btn-primary btn-sm" rel="publisher"
                       href="{{data.facebook_url}}">
                        <i class="fa fa-facebook"></i>
                    </a>
									{{/if}}
									{{#if data.instagram}}
                    <a class="btn btn-card btn-warning btn-sm" rel="publisher" href="{{data.instagram}}">
                        <i class="fa fa-instagram"></i>
                    </a>
									{{/if}}
									{{#if data.url}}
                    <a class="btn btn-card btn-default btn-sm" rel="publisher" href="{{data.url}}">
                        <i class="fa fa-external-link" style="color:gray"></i>
                    </a>
									{{/if}}
                </div>
                        <hr>
											 {{#if turnOnTicketButton}}
												<a style="color:white;" href="{{buyUrl}}" class="btn btn-success">
													<i class="icon-ticket"></i>
													BUY TICKETS
												</a>
											{{/if}}
                    </div>
                     </div>
                </div>

                <div class="col-md-9 col-sm-9  user-wrapper">
                    <div class="description">
                         <h3> My Story: </h3>
                    <hr>
                     {{data.story}}
                    <h3> Artwork: </h3>
                    <hr>
										{{#if data.artwork_1}}
										<div class="row grid">
												<div class="col-xs-7 thumbnail">
														<img src="https://artistworks.s3-us-west-2.amazonaws.com/artists_images/{{data.artwork_1}}" />
												</div>
									   </div>
											{{/if}}
										{{#if data.artwork_2}}
										<div class="row grid">
												<div class="col-xs-7 thumbnail">
														<img src="https://artistworks.s3-us-west-2.amazonaws.com/artists_images/{{data.artwork_2}}" />
												</div>
									   </div>
											{{/if}}

											{{#if data.artwork_3}}
											<div class="row grid">
												<div class="col-xs-7 thumbnail">
														<img src="https://artistworks.s3-us-west-2.amazonaws.com/artists_images/{{data.artwork_3}}" />
												</div>
									     </div>
											{{/if}}
                    </div>
                </div>
            </div>





        </div>
    </section>
    <footer class="footer">
        <div class="container text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xm-6 text-left">
                    <p class="copyright">© 2016 Conception Arts</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/new/js/bootstrap.js"></script>
    <script src="/js/new/js/jquery.nicescroll.js"></script>
    <script src="/js/new/js/wow.js"></script>
    <script src="/js/new/js/script.js"></script>
	 <script src="/js/jquery.validate.js"></script>
	 <script src="/js/typeahead.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
