<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conception Events</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/preloader.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="js/lte-ie7.js"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

	<style>


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    max-width: 100px;
    max-height: 100px;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-card{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

		.fa{
			color: white;
		}

		.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	display: block;
	height: 34px;
}
	</style>
</head>

<body>
    <header>
        <div class="container logo-bar" id="Home">
            <a class="navbar-brand" href="/"><img src="/images/logo2.png" alt=""></a>
            <nav class="navbar navi">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login" class="log">LOGIN</a></li>
                    <li><a href="/login" class="btn-primary">Submit your work</a></li>
                </ul>
            </nav>
        </div>
        <div class="section_overlay">
            <nav class="">
                <div class="container non-border">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="">MAIN MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about">about us</a></li>
                            <li><a href="/press">press</a></li>
<!--                             <li><a href="/campus">campus</a></li> -->
                            <li><a href="/what-new">what's new</a></li>
                            <li><a href="/community">community</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
													<li><a href="https://www.pinterest.com/conceptionarts"><i class="fa fa-pinterest"></i></a></li>
												  <li><a href="https://www.instagram.com/conceptionnyc"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/ConceptionEvents"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitt">
                                <a href="https://twitter.com/ConceptionNYC"><i class="fa fa-twitter"></i></a>
                            </li>

											</ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </div>
    </header>


    <section class="">
        <div class="container text">
					  <div class="row">
                <div class="col-md-12">
                    <img src="{{logo}}" alt="" class="header_image">
                </div>
            </div>
					<div class="row">
					<div class="col-md-12 text-center underline">
               <h1 class="event-title">{{liveEvent.title}}</h1>
							<p><i class="month">{{month}}</i> <i class="day">{{day}}</i>
								<span>{{liveEvent.venue.address}} // {{start_time}} - {{end_time}}</span>
								<span class="event-location">{{liveEvent.venue.name}}</span>
							</p>
							 <p>{{{liveEvent.description}}}</p>
							<a href="{{buyUrl}}" class="btn btn-success btn-lg alert general">Buy Tickets</a>
            </div>
					</div>

						<div class="row">
							{{#each artists}}
		          <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
  <div class="cardheader" style="background:url(http://www.conceptionevents.com/artists_images/);">


                </div>
                <div class="avatar">
									{{#if photo}}
									<img src="https://artistworks.s3-us-west-2.amazonaws.com/artists_images/{{photo}}?dim=150x104" alt="{{full_name}}" />
									{{else}}
									<img src="http://www.conceptionevents.com/images/no-image.jpg?dim=150x104" alt="{{full_name}}" />
									{{/if}}
                </div>
                <div class="info">
                    <div class="title">
                        <a href = "/artist/{{user_token}}" class="truncate">{{full_name}}</a>
                    </div>
                    <div class="desc" style="text-transform:uppercase;">{{genre}}</div>
                </div>
                <div class="bottom">
									{{#if twitter_url}}
                    <a class="btn btn-card btn-info btn-twitter btn-sm" href="{{twitter_url}}">
                        <i class="fa fa-twitter"></i>
                    </a>
									{{/if}}
									{{#if facebook_url}}
                    <a class="btn btn-card btn-primary btn-sm" rel="publisher"
                       href="{{facebook_url}}">
                        <i class="fa fa-facebook"></i>
                    </a>
									{{/if}}
									{{#if instagram}}
                    <a class="btn btn-card btn-warning btn-sm" rel="publisher" href="{{instagram}}">
                        <i class="fa fa-instagram"></i>
                    </a>
									{{/if}}
									{{#if url}}
                    <a class="btn btn-card btn-default btn-sm" rel="publisher" href="{{url}}">
                        <i class="fa fa-external-link" style="color:gray"></i>
                    </a>
									{{/if}}
                </div>
            </div>

        </div>
       {{/each}}
	</div>





        </div>
    </section>
    <footer class="footer">
        <div class="container text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xm-6 text-left">
                    <p class="copyright">© 2015 Conception Events</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/new/js/jquery.min.js"></script>
    <script src="/js/new/js/bootstrap.js"></script>
    <script src="/js/new/js/jquery.nicescroll.js"></script>
    <script src="/js/new/js/wow.js"></script>
    <script src="/js/new/js/script.js"></script>
	 <script src="/js/jquery.validate.js"></script>
	 <script src="/js/typeahead.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
